<div class="fixed-action-btn hide-on-large-only">
    <a class="btn-floating btn-large red callnow" href="tel:0979674145">
        <i class="large material-icons">phone</i>
    </a>
</div>
<div class="icon-mobile hide-on-large-only">
    <a class="telhref grey white-text" href="tel:0979674145">
        <span class="left-align">

            <span class="red-text">GỌI NGAY</span> để nhận ưu đãi sớm nhất</span>
    </a>
</div>
<div>
    <% if (layout == 'dongxe') { %>
        <%- include('layout/dongxe',{dataDongXe:dataDongXe}) %>
            <% } %>

                <% if (layout == 'chitiet') { %>
                    <%- include('layout/chitiet',{chitiet:chitiet}) %>
                        <% } %>

                            <% if (layout == 'trangchu') { %>
                                <%- include('layout/trangchu') %>
                                    <% } %>

                                        <% if (layout == 'addxe') { %>
                                            <%- include('layout/addxe') %>
                                                <% } %>

                                                    <% if (layout == 'baiviet') { %>
                                                        <%- include('layout/baiviet',{content:content}) %>
                                                            <% } %>
</div>