<style>
    .calnow {
        position: fixed;
        bottom: 0px;
        z-index: 2;
        border-radius: 0 50px 50px 0;
        font-size: 15px;

    }
    .icon {
        color: white;
        padding: 10px;
        font-size: 200%;
        border: 1px solid teal;
        background: white;
    }
</style>
<a href="tel:0973807479" class="">
    <div class="row calnow red valign-wrapper">
        <div class="col white-text text">
            <span>Tư vấn miễn phí (24/7)
                <br> 0973.80.74.79 (Mr.Thành)</span>
        </div>
        <i class="material-icons icon circle icon_callnow teal">call</i>

    </div>

</a>
<div>
    <% if (layout == 'dongxe') { %>
        <%- include('layout/dongxe',{dataDongXe:dataDongXe}) %>
            <% } %>

                <% if (layout == 'chitiet') { %>
                    <%- include('layout/chitiet',{chitiet:chitiet}) %>
                        <% } %>

                            <% if (layout == 'trangchu') { %>
                                <%- include('layout/trangchu') %>
                                    <% } %>

                                        <% if (layout == 'addxe') { %>
                                            <%- include('layout/addxe') %>
                                                <% } %>

                                                    <% if (layout == 'baiviet') { %>
                                                        <%- include('layout/baiviet',{content:content}) %>
                                                            <% } %>
</div>