<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%- title %></title>
<% for(var i=0;i<arrMeta.length;i++){ 
    var meta = arrMeta[i]
    if(meta.name){ %>
<meta name="<%- meta.name %>" content="<%- meta.content %>" />
    <%}    if(meta.property){ %>
<meta name="<%- meta.property %>" content="<%- meta.content %>" />
        <%}}%>
        
        <link rel="stylesheet" href="/css/app.css">
<!-- Compiled and minified CSS -->
<!-- <link rel="stylesheet" href="/css/materialize.min.css">

<link href="/css/font-roboto.css" rel="stylesheet">

<link rel="stylesheet" href="../css/owl.carousel.min.css">
<link rel="stylesheet" href="../css/owl.theme.default.min.css"> -->

<!-- <link rel="stylesheet" href="../css/body.css"> -->
<!-- Font Roboto -->
<!-- <link href="/css/roboto.css" rel="stylesheet"> -->

