<div class="row detail">
    <div class="col s12 m6 l6">
        <img style="max-width:100%" id="xe" src="../images<%- chitiet.colors[0].image %>" alt="">
        <div class="list-color">
            <ul>
                <p class="txt-color"><%- chitiet.colors[0].name %></p>
                <% for(var i =0;i<chitiet.colors.length;i++){ 
                    var dataColor = chitiet.colors[i]
                    %>
                    <li>
                        <span data-img="../images<%- dataColor.image%>" data-cl="<%- dataColor.name%>" data-price="<%- dataColor.price%> <sup>VND</sup>" style="background-color:<%- dataColor.value %>"></span>
                    </li>
                    <% } %>

            </ul>
        </div>
    </div>
    <div class="container">
        <div class="col s12 m6 l6">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>
                            <h5>
                                <%- chitiet.name %>
                            </h5>
                            <span class="red-text price">
                                <%- chitiet.price%>
                            </span>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <td>Số chỗ ngồi:</td>
                        <td>
                            <%- chitiet.description.so_cho_ngoi%>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Kiểu dáng:</td>
                        <td>
                            <%- chitiet.description.kieu_dang%>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nhiên liệu:</td>
                        <td>
                            <%- chitiet.description.nhien_lieu%>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Xuất xứ:</td>
                        <td>
                            <%- chitiet.description.xuat_xu%>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Tinh nang noi bat -->

<div id="tinh_nang_noi_bat" class="grey lighten-4">
    <div class="container">
        <h2>Tinh Nang Noi Bat</h2>
        <ul id="tabs-swipe-demo" class="tabs">
            <% chitiet.tinh_nang.forEach(function(tn,i){ %>
                <li class="tab col s3">
                    <a href="#<%- i %>">
                        <%- tn.name %>
                    </a>
                </li>
                <% }) %>
        </ul>
        <% chitiet.tinh_nang.forEach(function(tn,i){ %>
            <div id="<%- i %>" class="owl-carousel">
                <% for(var y=1;y<tn.content.length;y++){ %>

                    <div class="card">
                        <div class="card-image">
                            <img src="../images<%- tn.content[y].img %>">
                        </div>
                        <div class="card-content">
                            <p>
                                <%- tn.content[y].description %>
                            </p>
                        </div>
                        <div class="card-action">
                            <span class="card-title">
                                <%- tn.content[y].title %>
                            </span>
                        </div>
                    </div>
                    <% } %>

            </div>
            <% }) %>
    </div>
</div>

<!-- Ngoai that -->
<div id="ngoai_that">
    <div class="container">
        <h3>NGOAI THAT</h3>
        <h5>
            <%- chitiet.ngoai_that.title %>
        </h5>
        <p>
            <%- chitiet.ngoai_that.description %>
        </p>
        <div class="owl-carousel">
            <% chitiet.ngoai_that.images.forEach(function(e){ %>
                <img width="500" src="../images<%- e.src %>" alt="">
                <% }) %>
        </div>
    </div>
</div>
<!-- Noi THAT -->
<div id="noi_that" class="grey lighten-4">
    <div class="container">
        <h3>NỘI THẤT</h3>
        <h5>
            <%- chitiet.noi_that.title %>
        </h5>
        <p>
            <%- chitiet.noi_that.description %>
        </p>
        <div class="owl-carousel">
            <% chitiet.noi_that.images.forEach(function(e){ %>
                <img src="../images<%- e.src %>" alt="">
                <% }) %>
        </div>

    </div>
</div>
<div class="divider"></div>

<div id="thong_so_ky_thuat">
    <div class="container">
        <h3>THÔNG SỐ KỸ THUẬT</h3>
        <ul class="collapsible">
            <% chitiet.thong_so_ky_thuat.forEach(function(e){ %>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">add</i>
                        <%- e.name %>
                    </div>
                    <div class="collapsible-body">
                        <span>
                            <%- e.content %>
                        </span>
                    </div>
                </li>
                <% }) %>
        </ul>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
        $(".owl-carousel").owlCarousel({
            stagePadding: 50,
            loop: true,
            margin: 10,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 2
                }
            }

        });
        $('.carousel').carousel({
            fullWidth: true,
            indicators: true,
            padding: 6,
            numVisible: 5
        });
        $('.tabs').tabs();
        $('.list-color ul li span').click(function (e) {
            $(this).parent().addClass('selected').siblings().removeClass('selected');
            $('.txt-color').text(e.target.attributes[1].value)
            $('#xe').attr('src', e.target.attributes[0].value)
        })
    });
</script>
<script src="../js/formatMoney.js"></script>
<link rel="stylesheet" href="../css/chitiet.css">